body {
  font-family: 'Lato', sans-serif;
}

/*HIDDEN SCREEN ORIENTATION*/

@media screen and (min-width: 50vw) {
  #landscape {
    display: none;
  }
}

@media screen and (orientation: portrait) {
  #landscape {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    z-index: 4;
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
  }
}

/*PLAYERS STYLE*/
.pSize {
  font-size: 4vw;
  font-weight:300;
}

.scoreStyle {
  font-size: 6vw;
  font-weight: 300;
  padding: -4%;
  margin: -4%;
}

/* PLAYER 1 DOT*/

#dot1 {
  position: absolute;
  color: red;
  left: 35%;
}

/* PLAYER 1 DOT*/

#dot2 {
  position: absolute;
  color: red;
  left: 83%;
}

/**COMMAND BAR**/

#toolbar {
  height: 100%;
}


/**NEW GAME**/
#newGame {
display: flex;
align-items: center;
justify-content: space-evenly;
font-weight: 300;
width: 100%;
}

.newGameL {
  text-decoration: underline solid 2px black;
  animation: newUnderL 1s linear infinite;
}

@keyframes newUnderL {
	from {
		text-decoration: none;
	}

	to {
		text-decoration: underline solid 2px black;
	}
}

/**DICE**/

.dice {
  height: 120px;
  width: 120px;
  display: none;
}

#rollDice, #hold, #newGame {
  cursor: pointer;
}

/*PLAYER WIN*/
.win {
  display: none;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
  color: yellow;
  top: 40%;
  bottom: 40%;
  animation: gradient 10s ease infinite;
  box-shadow: 0px 10px 20px #787777, 0px -10px 20px #787777;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/*RULES MODAL*/
#rules {
  cursor: pointer;
}

#ruleModalWin {
  display: none;
  background: rgba(0, 0, 0, .25);
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 4;
}

.rulesModal {
  background-color: white;
  border: 10%;
  height: 83vh;
  width: 75vw;
  border-radius: 2.5%;
  padding: 1%;
}

